@import "tailwindcss";

@theme {
  --color-bioma-dark: #0B130E;
  --color-bioma-moss: #2D4A3E;
  --color-bioma-leaf: #A3B899;

  --color-bioma-water: #EAF2F1;
  --color-bioma-river: #4A6B6C;
  --color-bioma-sand: #F4F1EA;

  --font-title: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

html,
body {
  background-color: var(--color-bioma-dark);
  color: var(--color-bioma-water);
  overflow-x: hidden;
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}